<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
 </configSections>
 <connectionStrings>
  <add name="WindowsService1.Properties.Settings.Collage_MasterConnectionString"
   connectionString="Data Source=DIT-DESKTOP-SER;Initial Catalog=&quot;Collage Master&quot;;User ID=sa;Password=123456;MultipleActiveResultSets=True;Application Name=EntityFramework"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="FilePath" value="E://Krunali//Testing//WebApplication1//MessageLog//"/>
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>